<% content_for :head do %>
    <h2 class="screen_header">Create Your Account</h2>
<% end %>

<%= form_for(resource, as: resource_name, class: 'styled-form', url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em style="position:absolute;right:16px;color:black;">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <%= recaptcha_v3(action: 'registration') %>

  <div class="actions">
    <%= f.submit "Sign up", class: 'submit-button-login' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
