<div id="<%= dom_id(comment) %>" class="comment pb-4">
  <div class="comment-header">
    <div class="comment-author flex">
      <% if comment.user.avatar.attached? %>
        <%= image_tag comment.user.avatar.variant(resize_to_limit: [50, 50]), class: 'circular-avatar', alt: "#{comment.user.email}'s avatar" %>
        <% else %>
          <%= image_tag 'default_avatar.png', class: 'circular-avatar', alt: 'Default avatar' %>
      <% end %>
      <%= comment.user.name %>
    </div>
  </div>
  <div class="comment-body"><%= comment.content %></div>

  <% if comment.user == current_user %>
    <div class="comment-actions">
    </div>
  <% end %>
</div>