<%= turbo_frame_tag "comments_panel", class: 'h-4' do %>
  <div data-controller="comments">
  <div class="comments-overlay" data-action="click->comments#close"></div>

  <div class="p-4">
    <div class="flex">
      <h2 class="text-2xl"><%= I18n.t('comments.title') %></h2>
      <button class="absolute right-0 mr-4" data-action="click->comments#close">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M18 6L6 18M6 6l12 12"></path>
        </svg>
      </button>
    </div>

    <!-- Drag handle for mobile -->
    <div class="drag-handle">
      <div class="drag-indicator" data-action="mousedown->comments#startDrag touchstart->comments#startDrag"></div>
    </div>

    <div class="pb-4">
    <%= turbo_frame_tag "comments" do %>
      <div class="comments-list">
        <% if @comments.count > 0 %>
        <%= render @comments %>
          <% else %>
        <%= I18n.t('comments.no_comments_yet') %>
        <% end %>
      </div>
      <% end %>
    </div>

    <div class="comments-footer">
      <%= render "comments/form", post: @post, comment: @comment %>
    </div>
  </div>
  </div>
<% end %>