<turbo-frame id="search_results">
  <div class="search-results">
    <% if @query.present? %>

      <% if @community_results.any? || @user_results.any? %>
        <% if @community_results.any? %>
          <div class="result-group">
            <h3><%= I18n.t('search.communities') %></h3>
            <ul class="results-list">
              <% @community_results.each do |community| %>
                <li class="result-item">
                  <%= link_to community.name, community_path(community) %>
                  <p><%= community.description %></p>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <% if @user_results.any? %>
          <div class="result-group">
            <h3><%= I18n.t('search.users') %></h3>
            <ul class="results-list">
              <% @user_results.each do |user| %>
                <li class="flex mb-4">
                  <% if user.respond_to?(:avatar) && user.avatar.attached? %>
                    <%= image_tag user.avatar, class: "w-12 h-12" %>
                  <% else %>
                    <%= image_tag 'default_avatar.png', class: "w-12 h-12" %>
                  <% end %>
                  <div class="flex items-center">
                    <%= link_to user.name, user_path(user), data: { turbo: false } %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% else %>
        <p><%= I18n.t('search.no_results') %></p>
      <% end %>
    <% end %>
  </div>
</turbo-frame>