<% content_for :header do %>
  <div class="h-12">&nbsp;</div>
<% end %>

<div class="container mx-auto">
  <div class="flex items-center mb-6 border-b-2 pb-4">
    <%= link_to conversations_path, class: "mr-4" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd" />
      </svg>
    <% end %>

    <% opposed_user = @conversation.opposed_user(current_user) %>
    <% if opposed_user.avatar.present? %>
      <img src="<%= opposed_user.avatar %>" class="h-10 w-10 rounded-full mr-3" alt="<%= opposed_user.name %>">
    <% else %>
      <div class="h-10 w-10 rounded-full bg-gray-300 flex items-center justify-center mr-3">
        <%= image_tag 'default_avatar.png', class: 'rounded-full' %>
      </div>
    <% end %>
    <h1 class="text-xl font-bold"><%= opposed_user.name %></h1>
  </div>

  <div class="bg-white rounded-lg flex flex-col" data-controller="scroll">
    <div id="messages" class="flex-1 overflow-y-auto p-4 space-y-4 max-h-[calc(100vh-275px)]" data-conversation-id="<%= @conversation.id %>" data-scroll-target="container">
      <% @conversation.messages.order(created_at: :asc).each do |message| %>
        <%= render 'messages/message', message: message, current_user: current_user %>
      <% end %>
    </div>

    <div class="w-full fixed bottom-[56px]">
      <%= form_with model: [@conversation, @message], class: "flex", data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" } do |f| %>
        <div class="pr-6" style="width: calc(100vw - 128px);">
          <%= f.text_area :body, placeholder: I18n.t('conversations.type_your_message'), rows: 1, class: "w-full border rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent resize-none" %>
        </div>
        <%= f.submit I18n.t('messages.send'), class: "text-white py-[6px] px-[20px] hover:-translate-y-0.5 hover:shadow-[0_4px_8px_rgba(94,97,231,0.4)] active:translate-y-0.5 active:shadow-[0_1px_3px_rgba(94,97,231,0.4)] transition-all duration-300 ease-in-out  text-xl transition-all duration-300 ease-in-out cursor-pointer ml-auto mr-auto border-none bg-gradient-to-r from-[#5e61e7] to-[#8d7dfa] shadow-[0_2px_5px_rgba(94,97,231,0.3)] fixed rounded-md right-[10px]" %>
      <% end %>
    </div>
  </div>
</div>