<% content_for :header do %>
  <h2 class="mr-auto ml-auto max-w-fit text-white py-4 text-2xl"><%= I18n.t('settings.title') %></h2>
<% end %>

<div class="profile-settings-container">
  <%= form_with(model: @user, url: profile_path, method: :patch, class: "settings-form", local: true) do |f| %>
    <% if @user.errors.any? %>
      <div class="error-messages">
        <% @user.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
    <% end %>

    <div class="form-section mx-auto text-center">
      <h2><%= I18n.t('settings.profile_photo') %></h2>
      <div class="avatar-upload">
        <div class="current-avatar">
          <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar.variant(resize_to_fit: [100, 100]), class: "w-[50px] h-[50px] rounded-full object-cover object-center border-3 border-gray-300 mx-auto" %>
          <% else %>
            <%= image_tag 'default_avatar.png', class: "w-[50px] h-[50px] rounded-full object-cover object-center border-3 border-gray-300 mx-auto mb-4" %>
          <% end %>
        </div>

        <%= f.file_field :avatar, class: "avatar-input hidden", accept: "image/*" %>
        <%= f.label :avatar, I18n.t('settings.change_photo'), class: "btn-upload cursor-pointer text-[#6a0dad]" %>
      </div>
    </div>

    <div class="form-section mt-4">
      <h2 class="text-2xl mb-3"><%= I18n.t('settings.profile_information') %></h2>

      <div class="field mb-3">
        <%= f.label :bio, class: 'text-base text-[#343434]' %><br />
        <%= f.text_area :bio,
                         autofocus: true,
                          placeholder: I18n.t('settings.tell_us_more'),
                          maxlength: 150,
                         class: 'h-[42px] w-full text-base rounded-3xl pl-[20px] border' %>
      </div>

      <div class="field">
        <%= f.label :location, I18n.t('settings.location'), class: 'text-base text-[#343434]' %><br />
        <%= f.text_field :location, placeholder: I18n.t('settings.city_country'), class: 'h-[42px] w-full text-base rounded-3xl pl-[20px] border' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit I18n.t('settings.save_changes'), class: 'text-white py-[12px] px-[30px] mb-[50px] hover:-translate-y-0.5 hover:shadow-[0_4px_8px_rgba(94,97,231,0.4)] active:translate-y-0.5 active:shadow-[0_1px_3px_rgba(94,97,231,0.4)] transition-all duration-300 ease-in-out rounded-3xl text-xl transition-all duration-300 ease-in-out cursor-pointer ml-auto mr-auto border-none bg-gradient-to-r from-[#5e61e7] to-[#8d7dfa] shadow-[0_2px_5px_rgba(94,97,231,0.3)] mt-10' %>
    </div>
  <% end %>
</div>