<!DOCTYPE html>
<html lang="en">
<head>
  <title>Spreent - Your Sports Community</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%#= stylesheet_link_tag 'splash', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_importmap_tags %>
</head>
<body class="bg-[#6a0dad] flex items-center justify-center h-screen">

<% if notice %>
  <p class="bg-white w-96 mx-auto text-black p-4 shadow-md rounded-md mt-4"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="bg-white w-96 mx-auto text-black p-4 shadow-md rounded-md mt-4"><%= alert %></p>
<% end %>
<%= image_tag "spreent_logo.png", class: 'mr-auto ml-auto pt-[25%]' %>

<script>
  document.addEventListener('turbo:load', () => {
    setTimeout(() => {
      Turbo.visit('/home', { action: 'replace' })
    }, 1000)
  })
</script>
<div class="absolute w-[150px] h-[150px] bg-white opacity-50 top-[-50px] left-[-50px] rounded-lg blur-3xl"></div>
<div class="absolute w-[150px] h-[150px] bg-white opacity-50 bottom-[-50px] right-[-50px] rounded-lg blur-3xl"></div>
</body>
</html>
