<%= turbo_frame_tag dom_id(post) do %>
  <div class="post">
      <div class="post-header">
        <div class="post-avatar">
            <% if post.user %>
                <% if post.user.avatar.attached? %>
                    <%= image_tag post.user.avatar.variant(resize_to_limit: [50, 50]), class: 'circular-avatar', alt: "#{post.user.email}'s avatar" %>
                <% else %>
                    <%= image_tag 'default_avatar.png', class: 'circular-avatar', alt: 'Default avatar' %>
                <% end %>
            <% end %>
        </div>

        <div class="post-user-info">
            <% if post.user %>
                <span class="post-user-name"><%= post.user.name %></span>
            <% end %>
                <span class="post-reason">Suggested for you</span>
        </div>

        <div class="post-user-button">
        </div>

        <div class="post-menu">
          <div class="three-dots-menu" data-controller="dropdown">
            <button type="button" data-action="click->dropdown#toggle">
              <i class="fa fa-ellipsis-v"></i>
            </button>

            <div class="dropdown-menu" data-dropdown-target="menu">
              <%= link_to "Report", new_post_report_path(post),
                          data: {
                            turbo_frame: "modal_frame",
                            action: "click->dropdown#close"
                          } %>
              <!-- Other menu items -->
            </div>
          </div>
        </div>
      </div>


    <div class="post-content">
        <div style="padding-bottom: 20px;">
      <%= post.content %>
        </div>

      <% if post.media.attached? %>
         <div class="post-media">
           <% post.media.each do |media| %>
             <% if media.image? %>
               <%= image_tag media.variant(resize_to_limit: [1000, 500]), class: 'post-image' %>
             <% elsif media.video? %>
                 <div class="video-container" style="max-width:800px; margin: 0 auto;">
               <%= video_tag rails_blob_path(media), controls: true, class: 'post-video', style: 'width: 100%; height: auto;' %>
                 </div>
             <% end %>
           <% end %>
         </div>
       <% end %>
    </div>

    <div class="post-icons">
      <%= render "posts/like_button", post: post %>

      <%= link_to post_comments_path(post),
                  data: { turbo_frame: "comments_panel" },
                  class: "comments-button" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
        </svg>
          <% if post.comments.count > 0 %>
          <span><%= post.comments.count %></span>
          <% end %>
      <% end %>
    </div>
  </div>
<% end %>
