<p><%= I18n.t('forgot_password.hello') %> <%= @resource.name %>!</p>

<p><%= I18n.t('forgot_password.someone_has_requested') %></p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= I18n.t('forgot_password.if_didnt_request') %></p>
<p><%= I18n.t('forgot_password.password_wont_change') %></p>
